@using Microsoft.AspNetCore.Identity
@using WebThiTracNghiem.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<div class="notification">
		<i class="fas fa-bell"></i>
		<span class="notification-badge">2</span>
	</div>

	<div class="user-profile">
		<img src="/Images/logo.png" alt="Avatar" class="avatar">
		<div class="user-info">
			@{
				var currentUser = await UserManager.GetUserAsync(User);
				var hoTen = currentUser?.HoTen;
			}
			@if (!string.IsNullOrEmpty(hoTen))
			{
				<span class="user-name">@hoTen</span>
			}
			else
			{
				<span class="user-name">User</span>
			}
			<span class="user-id">@UserManager.GetUserName(User)</span>
		</div>
		<div class="dropdown-menu">
			<a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index"
			   title="Manage"><i class="fas fa-user"></i>Thông tin cá nhân</a>
			<a href="settings.html"><i class="fas fa-cog"></i> Cài đặt</a>
			<form id="logoutForm" method="post"
				  asp-area="Identity" asp-page="/Account/Logout"
				  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
			</form>
			<a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">
				<i class="fas fa-sign-out-alt"></i> Đăng xuất
			</a>
		</div>
	</div>
}
else
{
	<div>
		<a class="auth-btn" id="loginBtn" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
	</div>
}



