<!-- Side Menu -->
<nav class="side-menu">
    <ul>
        <li>
            <a asp-controller="home" asp-action="index" class="side-link active">
                <i class="fas fa-home"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="teacher/home/ActiveExam" class="side-link ActiveExam">
                <i class="fas fa-clock"></i>
                <span>Kỳ thi đang diễn ra</span>
            </a>
        </li>
        <li>
            <a href="teacher/exam" class="side-link CreateExam">
                <i class="fas fa-plus-circle"></i>
                <span>Tạo đề thi mới</span>
            </a>
        </li>
        <li>
            <a href="teacher/home/questionbank" class="side-link QuestionBank">
                <i class="fas fa-book"></i>
                <span>Ngân hàng câu hỏi</span>
            </a>
        </li>
        <li>
            <a href="teacher/home/results" class="side-link ExamResult">
                <i class="fas fa-chart-bar"></i>
                <span>Kết quả thi</span>
            </a>
        </li>
        <li>
            <a href="/Teacher/Home/Reports" class="side-link Reports">
                <i class="fas fa-file-alt"></i>
                <span>Báo cáo thống kê</span>
            </a>
        </li>
        <li>
            <a href="teacher/home/guide" class="side-link Guide">
                <i class="fas fa-question-circle"></i>
                <span>Hướng dẫn</span>
            </a>
        </li>
    </ul>
</nav>