<!-- Side Menu -->
<nav class="side-menu">
    <ul>
        <li>
            <a asp-controller="home" asp-action="index" class="side-link active">
                <i class="fas fa-tachometer-alt"></i>
                <span>Tổng quan</span>
            </a>
        </li>
        <li>
            <a href="/admin/home/usermanager" class="side-link UserManager">
                <i class="fas fa-users"></i>
                <span>Quản lý người dùng</span>
            </a>
        </li>
        <li>
            <a href="teacher/exam" class="side-link CreateExam">
                <i class="fas fa-plus-circle"></i>
                <span>Tạo đề thi mới</span>
            </a>
        </li>
        <li>
            <a href="/admin/home/exammanager" class="side-link ExamManager">
                <i class="fas fa-file-alt"></i>
                <span>Quản lý kỳ thi</span>
            </a>
        </li>
        <li>
            <a href="teacher/home/questionbank" class="side-link QuestionBank">
                <i class="fas fa-book"></i>
                <span>Ngân hàng câu hỏi</span>
            </a>
        </li>
        <li>
            <a href="/admin/home/post" class="side-link Post">
                <i class="fas fa-newspaper"></i>
                <span>Tạo bài viết</span>
            </a>
        </li>
        <li>
            <a href="/admin/home/guide" class="side-link Guide">
                <i class="fas fa-question-circle"></i>
                <span>Hướng dẫn</span>
            </a>
        </li>
    </ul>
</nav>