<!-- Side Menu -->
<nav class="side-menu">
    <ul>
        <li>
            <a asp-controller="home" asp-action="index" class="side-link active">
                <i class="fas fa-home"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li>
            <a href="/student/exam" class="side-link ListExam">
                <i class="fas fa-file-alt"></i>
                <span>Danh sách bài thi</span>
            </a>
        </li>
        <li>
            <a href="/student/home/history" class="side-link History">
                <i class="fas fa-history"></i>
                <span>Lịch sử làm bài</span>
            </a>
        </li>
        <li>
            <a href="/student/home/guide" class="side-link Guide">
                <i class="fas fa-question-circle"></i>
                <span>Hướng dẫn</span>
            </a>
        </li>
    </ul>
</nav>