@page
@model LoginModel

<a href="index.html" class="auth-logo">
	<img src="~/Images/logo.png" alt="Logo Trường CĐ GTVT">
</a>
<h1 class="auth-title">Đăng nhập hệ thống</h1>
<form id="account" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
	<div class="form-group" id="student-id-group">
		<label asp-for="Input.Username">Tên đăng nhập</label>
		<input asp-for="Input.Username" id="student-id" placeholder="Nhập tên đăng nhập..." />
		<span asp-validation-for="Input.Username" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Input.Password">Mật khẩu</label>
		<input asp-for="Input.Password" id="password" placeholder="Nhập mật khẩu..." />
		<span asp-validation-for="Input.Password" class="text-danger"></span>
	</div>
	<div class="checkbox mb-3">
		<label asp-for="Input.RememberMe" class="form-label">
			<input class="form-check-input" asp-for="Input.RememberMe" />
			@Html.DisplayNameFor(m => m.Input.RememberMe)
		</label>
	</div>
	<div>
		<button id="login-submit" type="submit" class="auth-btn">Đăng nhập</button>
	</div>
	<div>
		<div class="auth-switch">
			Quên mật khẩu đăng nhập? <a id="forgot-password" asp-page="./ForgotPassword">Lấy lại mật khẩu</a>
		</div>
	</div>
</form>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
